
.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;

}
.dialogsItem{
padding: 10px;
}

.dialog{
    padding: 4px;

}
.dialog a{
    font-family: Calibri;
    font-size: 17px;
    text-decoration: none;
    color: white;
}
.messages{
padding: 10px;
}
.message{

}
.active{
    color: gold;
}